[class^="svg-"] use,
[class*="svg-"] use {
    fill: currentColor;
}
.svg-nav-1 {
  width: 1em;
  height: 1em;
}

.svg-nav-2 {
  width: 1em;
  height: 1em;
}

.svg-nav-3 {
  width: 1em;
  height: 1em;
}

.svg-nav-4 {
  width: 1em;
  height: 1em;
}

.svg-nav-5 {
  width: 1em;
  height: 1em;
}

.svg-nav-6 {
  width: 1em;
  height: 1em;
}
